<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/uploadroomimage/665479f0dc6ad689b3085e57" method="post" enctype="multipart/form-data">
        <input type="file" name="img1"> Image 1 (Main image) <br>
        <input type="file" name="img2"> Image 2 <br>
        <input type="file" name="img3"> Image 3<br>
        <input type="file" name="img4"> Image 4<br>
        <input type="file" name="img5"> Image 5<br>
        <input type="file" name="img6"> Image 6<br>
        <button type="submit">Upload</button>
    </form>
    
</body>
</html>